  
  *{ 
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   
  

  } 
 
.inter-font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}  
body{ 
  background-color:black;
  padding-top: 10px;
}
nav{ 
  
  background-color: hsl(288, 61%, 11%);
 display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 90%;
margin: 0 auto;
/* border: 1px solid  red; */
}




